<p style="margin-bottom: 8px;">
	Hi, I&apos;m Orestis, an ML Lead at <a href="https://www.qsys.com/">Q-SYS</a> (previously at <a href="https://www.seervision.com/">Seervision</a>) and
	an alumnus of <a href="https://ethz.ch/">ETH Zurich</a>.<br/>
</p>
<p style="margin-bottom: 8px; margin-top: 8px;">
	I have a passion for building things across AI, robotics, computer vision, software engineering, IoT and distributed systems.<br />
</p>
<p style="margin-bottom: 8px; margin-top: 8px;">
	With a strong entrepreneurial spirit, I bring ideas from concept to production. <br />
</p>
<p style="margin-bottom: 8px; margin-top: 8px;">Please feel free to download my 
	<a
		href="https://github.com/orestis-z/resume-compiler/raw/master/docs/Resume_Orestis_Zambounis.pdf"
		>resume.</a
	>
</p>
