<p>
	Hi, I&apos;m Orestis, a Senior Machine Learning Engineer at <a href="https://www.seervision.com/">Seervision</a> (recently acquired by <a href="https://www.qsys.com/">Q-SYS</a>) and
	an alumnus of <a href="https://ethz.ch/">ETH Zurich</a>.<br />
	I have a passion for building things in the areas of AI, systems & control, robotics, computer vision, software engineering, and distributed systems.<br />
	With a strong entrepreneurial spirit and a solid programming background, I'm fluent in a variety of languages.<br />
	Please feel free to download my 
	<a
		href="https://github.com/orestis-z/resume-compiler/raw/master/docs/Resume_Orestis_Zambounis.pdf"
		>resume.</a
	>
</p>
