<p>
	Hi, I&apos;m Orestis. I like building things. I am a
	<a href="https://ethz.ch/">ETH Zurich</a> graduate, and Machine Learning
	Engineer at <a href="https://benshi.ai">benshi.ai</a>.<br />
	My areas of interest cover artificial intelligence, system dynamics &
	control, computer vision, big data and cloud infrastructure engineering.<br />
	I have a solid programming background and fluent in a variety of languages.<br />You
	can download my resume
	<a
		href="https://github.com/orestis-z/resume-compiler/raw/master/docs/Resume_Orestis_Zambounis.pdf"
		>here.</a
	>
</p>
