{% if page.url == "/" or page.url == "/index.html" or page.url == "/contact.html" %}
<header class="header-home {% if site.animation %}animated{% endif %}">
    <a href="/" class="link">
        <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
    </a>

    <h1 class="title">{{ site.name }}</h1>
    <h2 class="description">{{ site.bio }}</h2>
    <h2 class="description">{{ site.subbio }}</h2>

    {% if site.social-media %}
        {% include social-links.html %}
    {% endif %}
</header>
{% endif %}
