{% if site.about %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>About</h2>
            </li>
        </ul>
    </nav>
    {% include about.html %}
{% endif %}

{% if site.skills %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Skills</h2>
            </li>
        </ul>
    </nav>
    {% include skills.html %}
{% endif %}

{% if site.projects %}
    <nav class="nav-home">
        <ul class="list">
            <li class="item">
                <h2>Projects</h2>
                <p><a href="/portfolio">View all projects with detailed case studies →</a></p>
            </li>
        </ul>
    </nav>
    {% include projects.html %}
{% endif %}
<!-- 
<nav class="nav-home">
    <ul class="list">
        <li class="item">
            <a class="link" href="{{ site.url }}/shop-automation">Shop Automation</a>
        </li>
    </ul>
</nav> -->

<!-- <div class="airbnb-embed-frame" data-id="618130808206581598" data-view="home" data-hide-price="true" style="width: 450px; height: 300px; margin: auto;"><a href="https://www.airbnb.com/rooms/618130808206581598?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget">View On Airbnb</a><a href="https://www.airbnb.com/rooms/618130808206581598?guests=1&amp;adults=1&amp;s=66&amp;source=embed_widget" rel="nofollow">Rental unit in Barcelona · 2 bedrooms · 3 beds · 1 bath</a><script async="" src="https://www.airbnb.com/embeddable/airbnb_jssdk"></script></div> -->
