<div class="social-links">
    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank" aria-label="Twitter Profile">
            <svg class="icon icon-twitter" alt="Twitter Icon"><use xlink:href="#icon-twitter"></use></svg>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" aria-label="LinkedIn Profile">
            <svg class="icon icon-linkedin" alt="LinkedIn Icon"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.youtube %}
        <a class="link" data-title="youtube.com/{{ site.youtube }}" href="http://youtube.com/{{ site.youtube }}" target="_blank" aria-label="YouTube Channel">
            <svg class="icon icon-youtube" alt="YouTube Icon"><use xlink:href="#icon-youtube"></use></svg>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank" aria-label="GitHub Profile">
            <svg class="icon icon-github" alt="GitHub Icon"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}
    
    {% if site.stackoverflow %}
        <a class="link" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" aria-label="Stack Overflow Profile">
            <svg class="icon icon-stackoverflow" alt="Stack Overflow Icon"><use xlink:href="#icon-stackoverflow"></use></svg>
        </a>
    {% endif %}

    {% if site.reddit %}
        <a class="link" data-title="reddit.com/user/{{ site.reddit }}" href="https://www.reddit.com/user/{{ site.reddit }}" target="_blank" aria-label="Reddit Profile">
            <svg class="icon icon-reddit" alt="Reddit Icon"><use xlink:href="#icon-reddit"></use></svg>
        </a>
    {% endif %}

    {% if site.medium %}
        <a class="link" data-title="medium.com/@{{ site.medium }}" href="https://medium.com/@{{ site.medium }}" target="_blank" aria-label="Medium Profile">
            <svg class="icon icon-medium" alt="Medium Icon"><use xlink:href="#icon-medium"></use></svg>
        </a>
    {% endif %}

    {% if site.vimeo %}
        <a class="link" data-title="vimeo.com/{{ site.vimeo }}" href="https://vimeo.com/{{ site.vimeo }}" target="_blank" aria-label="Vimeo Profile">
            <svg class="icon icon-vimeo" alt="Vimeo Icon"><use xlink:href="#icon-vimeo"></use></svg>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}" aria-label="Email">
            <svg class="icon icon-mail" alt="Email Icon"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
