
@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home";
@import "pages/contact";
@import "pages/legal";
@import "pages/portfolio";
@import "pages/blog";

@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/social-links";
